<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ares Frontend</title>
</head>
<body>
    <p>HELLO FROM THE FRONTENDDDDD</p>
    <p><%= data %></p>
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ff062c;
    }

    p {
        color: #0ded63;
        text-align: center;
        padding: 20px;
    }
</style>
</html>