<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            margin: 0;
            padding: 40px;
        }

        .container {
            background: white;
            padding: 30px;
            border-radius: 10px;
            width: 80%;
            margin: auto;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
      
    </style>
</head>
<body>

    <div class="container">
        <h1>Welcome to Saimalif Global</h1>
        <p>I love You Saima.</p>

        
    </div>

</body>
</html>